html, body, #root, #root>div {
    height: 100%;
    margin: 0;
    background: rgb(236,27,47);
    background: linear-gradient(90deg, rgba(236,27,47,1) 5%, rgba(179,7,23,1) 33%, rgba(138,7,20,1) 100%);
}